* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(204, 248, 203, 0.898);
}

.titulo {
    height: 15vh;
}

h1 {
    color: rgb(7, 64, 12);
}

header h1 span {
    color: #000;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
}

#jardin {
    background-image: url(/assets/istockphoto-1472593939-612x612.jpg);
    height: 30vh;

}

#puente {
    background-image: url(/assets/bridge-g0c6ca475c_640.jpg);
    height: 30vh;
    background-size: cover;
    background-position: right;


}
.contpais{
    height: 80vh;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr) ;
    grid-template-rows: repeat(2, 2fr) ;
    grid-template-areas: 
    "section aside"
    "section aside";
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    align-items: center;
    
}
.sectionpais{
    grid-area: section;
    background-color: rgba(240, 248, 255, 0.609);
}

.asiedepais{
    grid-area: aside;
    background-color: rgba(240, 248, 255, 0.609);
}

